# Web framework
fastapi
uvicorn

# Kafka client (REQUIRED for producer & consumer)
confluent-kafka

# Database
psycopg2-binary

# Validation & config
pydantic
python-dotenv

# Reliability
tenacity

# Testing
pytest
httpx